<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="joo" class="com.test02.Address">
		<constructor-arg name="name" value="주현록" />
		<constructor-arg name="addr" value="대구광역시 달서구" />
		<constructor-arg name="phone" value="010-2104-7995" />
	</bean>
	
	<bean id="park" class="com.test02.Address">
		<property name="name" value="김현록"></property>
		<property name="addr" value="부산광역시 해운대"></property>
		<property name="phone" value="010-2222-2222"></property>
	</bean>
</beans>
